/libvoltdbcpp/
/libvoltdbcpp.a
/libvoltdbcpp.so
/libvoltdbcpp.tgz
/libeventinstall/
/voltdb-client-cpp-*
/*.tar.gz
/windows/**/win32
/windows/**/x64
/windows/**/*.opensdf
/windows/**/*.sdf
/windows/**/*.suo
/windows/**/*.user
*~
