/libvoltdbcpp/
/libvoltdbcpp.a
/libvoltdbcpp.so
/libvoltdbcpp.tgz
/libeventinstall/
/voltdb-client-cpp-*
/*.tar.gz
*.d
*.o
/testbin
/.settings
*~
/examples/asynchelloworld
/examples/helloworld
/examples/voter
/examples/svoter
*.dSYM
